<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="/Public/css/style.css">-->
    <!--<link rel="stylesheet" href="__PUBLIC__/css/style.css">-->
    <!--<import type="css" file="css.style" />-->
    <load href="__PUBLIC__/css/style.css"/>
    <!--<script src="/Public/js/js.js"></script>-->
    <!--<script src="__PUBLIC__/js/js.js"></script>-->
    <!--<import type="js" file="js.js"/>-->
    <load href="__PUBLIC__/js/js.js"/>
</head>
<body>
<div>这是Admin模块下的login方法</div>

<img src="__PUBLIC__/image/worldmap.png" alt="">
</body>
</html>